/** Backgrounds */
$background-invisible: white;
$background-visible: white;

$background-io: rgb(196, 196, 196);
$background-prize: rgb(160, 160, 160);


/** Borders */
$border-invisible: white;
$border-visible: black;
// TODO: Remove interactable borders in final version. Focus will move
// automatically to the set of interactable cells. Maybe we can make the
// background color a bit lighter.
$border-traversable: rgb(0, 0, 150);
$border-selectable: rgb(37, 105, 206);

$border-focused: rgb(255, 0, 0);
$border-hovered: rgb(255, 144, 144);
$border-selected: rgb(218, 144, 8);

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-style: solid;
    width: 54px;
    height: 54px;
}

.visible {
    border-color: $border-visible;
    background: $background-visible;
}

// Special cell backgrounds
.io-cell {
    background: $background-io;
}

.prize-cell {
    background: $background-prize;
}

.default {
    border-color: $border-visible;
}

.traversable {
    border-color: $border-traversable;
}

.selectable {
    border-color: $border-selectable;

    &:hover {
        border-color: $border-hovered;
    }

    cursor: pointer;
}

.selected {
    border-color: $border-selected;
}

.focused {
    border-color: $border-focused;
}

:not(.visible) {
    border-color: $border-invisible;
    background: $background-invisible;
}
